@import './assets/reset.css';
@font-face {
  font-family: 'Roboto-Bold';
  src:  url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto-Regular';
  src:  url(./assets/fonts/Roboto-Regular.ttf);
}
html, body, #root {
  height: 100%;
}
body {
  background-color: #262A59;
  margin: 0;
  font-family: 'Roboto-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
